<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    
    
</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
        </div>

        <form action="/login" class="formulario" method="post">
            <div class="texto-formulario">
                <h2>Iniciar sesi칩n</h2>
                <p>Bienvenido a tu espacio</p>
            </div>
            <div class="input-box">
                <label>Tipo de usuario:</label>
                <select name="tipoUsuario" required class="select">
                  <option value="alumno">Alumno</option>
                  <option value="docente">Docente</option>
                </select>
              </div>
            <div class="input">
                <label for="usuario">Correo</label>
                <input placeholder="Ingresa tu nombre" type="text" name="email">
            </div>
            <div class="input">
                <label for="contrase침a">Contrase침a</label>
                <input placeholder="Ingresa tu contrase침a" type="password" name="pass">
            </div>
            
            <div class="input">
                <input type="submit" value="Acceso">
            </div>
        </form>
    </div>

</body>

</html>